---
firstName: "Christian"
lastName: "Walter"
title: "Co-Founder"
permalink: false
imageUrl: "./src/images/christian-walter.jpg"
socials:
    -
        name: "GitHub"
        icon: "github"
        url: "https://github.com/walterchris"
    -
        name: "LinkedIn" 
        icon: "linkedin"
        url: "https://www.linkedin.com/in/christian-walter-45588b8b"
    -
        name: "Twitter"
        icon: "twitter"
        url: "https://twitter.com/nablahero"
tags: team
---