---
firstName: "Fabian"
lastName: "Wienand"
title: "Senior Golang Developer"
order: 4
permalink: false
imageUrl: "./src/images/fabian-wienand.jpg"
socials:
    -
        name: "GitHub"
        icon: "github"
        url: "https://github.com/RiSKeD"
    -
        name: "LinkedIn" 
        icon: "linkedin"
        url: "https://www.linkedin.com/in/fabian-wienand-b952311b7"
tags: team
---