---
firstName: "Jens"
lastName: "Topp"
title: "Co-Founder"
order: 2
permalink: false
imageUrl: "./src/images/jens-topp.jpg"
socials:
    -
        name: "GitHub"
        icon: "github"
        url: "https://github.com/jenstopp"
    -
        name: "LinkedIn" 
        icon: "linkedin"
        url: "https://www.linkedin.com/in/jens-topp/"
tags: team
---