---
firstName: "Jens"
lastName: "Drenhaus"
permalink: false
imageUrl: "./src/images/jens-drenhaus.jpg"
socials:
    -
        name: "GitHub"
        icon: "github"
        url: "https://github.com/"
    -
        name: "LinkedIn" 
        icon: "linkedin"
        url: "https://linkedin.com/"
    -
        name: "Twitter"
        icon: "twitter"
        url: "https://twitter.com/"
tags: team
---