---
firstName: "Jens"
lastName: "Drenhaus"
title: "Co-Founder"
order: 2
permalink: false
imageUrl: "./src/images/jens-drenhaus.jpg"
socials:
    -
        name: "GitHub"
        icon: "github"
        url: "https://github.com/jensdrenhaus"
    -
        name: "Twitter"
        icon: "twitter"
        url: "https://twitter.com/jens_drenhaus"
tags: team
---