---
name: "Gründerstipendium NRW"
subtitle: "Land NRW"
order: 1
permalink: false
imageUrl: "./src/images/gruenderstipendium-logo.png"
url: "https://www.xn--grndungsstipendium-n6b.nrw/"
size: m
tags: partners
---