---
name: "OCP Startup Program"
subtitle: "Open Compute Foundation"
order: 1
permalink: false
imageUrl: "./src/images/ocp-startup.png"
url: "https://www.opencompute.org/membership/startup-directory"
size: m
tags: partners
---