{% set assetHash = global.random() %}
<!DOCTYPE html>
<html lang="en" class="no-js">
  <head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    {% include "partials/meta-info.njk" %}

    <script>
      document
        .documentElement
        .classList
        .remove("no-js");
      document
        .documentElement
        .classList
        .add("js-active");
    </script>

    <link rel="stylesheet" media="all" href="/fonts/fonts.css?{{ assetHash }}"/>

    {% if env.nodeenv !== 'production' %}
      <!-- We're not in production mode -->
      <style>
        {% include "css/critical.css" %}
      </style>
    {% endif %}
  </head>

  <body class="stack-l">
    {% include "partials/site-head.njk" %}

    <main class="site-content" tabindex="-1" id="main-content">
      {% block content %}{% endblock %}
    </main>

    {% include "partials/site-foot.njk" %}

    <script src="/js/gsap.min.js"></script>
    <script src="/js/ScrollTrigger.min.js"></script>
    <script src="/js/ScrollAnimation.js"></script>
  </body>
</html>