.slides-container {
  display: flex;
  overflow: auto;
  flex: none;
  flex-flow: row nowrap;
  scroll-snap-type: x mandatory;
  width: 100%;
  gap: var(--space-xs);
  height: auto;
  // Prevent outline of last slide to disappear on the right
  padding-inline-end: 1px;

  // Enable Safari touch scrolling physics
  -webkit-overflow-scrolling: touch;

  &::-webkit-scrollbar {
    display: none;
  }

  .slide {
    scroll-snap-stop: always;
    scroll-snap-align: center;
    flex: none;
    width: 90%;
    height: auto;
    overflow-y: auto;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
