.person {
  position: relative;
  border-radius: 50%;

  &__portrait {
    width: clamp(10rem, 8.286rem + 8.57vw, 16rem);
    height: auto;
    aspect-ratio: 1;
    border-radius: 50%;
  }

  &__overlay {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: var(--space-2xs);
    position: absolute;
    width: 100%;
    height: 100%;
    bottom: 0;
    background-color: var(--color-violet);
    opacity: 0;
    border-radius: inherit;
    transition: opacity 0.25s ease-in-out;
    font-size: clamp(1rem, 0.857rem + 0.71vw, 1.5rem);
    line-height: 1;
    letter-spacing: 5;

    &:hover,
    &:focus-within,
    &:focus-visible {
      opacity: 1;
    }
    &:focus-visible {
      outline-offset: 6px;
      outline: 2px dashed var(--color-orange);
    }
  }

  &__social-icons {
    & a {
      display: flex;
      justify-content: center;
      align-items: center;
      width: var(--space-s);
      height: var(--space-s);
      background-color: var(--color-dark-blue);
      color: var(--color-turquoise);
      border-radius: 50%;

      &:focus-visible {
        outline-offset: 4px;
        outline: 2px dashed var(--color-white);
      }
    }
  }
}
