.site-content {
  text-align: center;

  h1,
  h2,
  h3 {
    text-transform: lowercase;
  }

  .text-block {
    margin-inline: auto;
    max-width: var(--text-block-width, 56ch);
  }

  .btn {
    display: inline-block;
    position: relative;
    background-color: var(--color-turquoise);
    padding-inline: var(--space-m);
    padding-block: var(--space-2xs);
    text-transform: lowercase;
    text-decoration: none;
    border-radius: 2em;

    &::before,
    &::after {
      position: absolute;
      padding-inline: var(--braces-gap, 0.5em);
      transition: padding-inline 0.075s ease;
    }
    &::before {
      content: '<';
      transform: translateX(-100%);
    }
    &::after {
      content: '>';
    }

    &:hover {
      --braces-gap: 0.75em;
      background-color: var(--color-turquoise-darker);
      transition: background-color 0.075s ease;
    }

    &:focus-visible {
      outline-offset: 6px;
      outline: 2px dashed var(--color-orange);
    }
  }

  .double-arrow {
    display: inline-block;
    width: 1.75em;
    margin-inline-start: -1.75em;
    vertical-align: -0.15em;
  }
  .bottom-line {
    display: inline-block;
    width: 1.5em;
    margin-inline-end: -1.5em;
    vertical-align: bottom;
  }

  .braces {
    --gap: 0;
    &::before,
    &::after {
      vertical-align: 0.05em;
      color: var(--color-violet);
    }
  }
  .braces::before {
    content: '{';
    margin-inline-end: var(--gap);
  }
  .braces::after {
    content: '}';
    margin-inline-start: var(--gap);
  }

  .preview-image {
    margin-inline: auto;
  }

  .placeholder {
    width: 13rem;
  }
}
