.site-head {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: var(--space-xs);
  flex-wrap: wrap;
  padding: var(--space-m);

  // Target all direct child elements and allow them to grow
  & > * {
    flex-grow: 1;
  }
  .devils-albatross {
    flex-grow: 666;
    // Substract 100% from a chosen threshold
    flex-basis: calc((22rem - 100%) * 666);
  }

  &__logo {
    width: clamp(6rem, 5.714rem + 1.43vw, 7rem);
    max-width: 7rem;
    position: relative;
    flex-shrink: 0;
    margin-inline-end: var(--space-3xl);
  }

  a:hover:not(&__logo) {
    color: var(--color-turquoise);
  }

  a:focus-visible {
    outline-offset: 4px;
    outline: 2px dashed var(--color-orange);
  }
}
