.site-foot {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: var(--space-s);
  padding: var(--space-m);

  @media (min-width: 27em) {
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
  }

  &__nav {
    line-height: 1.75;

    a {
      text-decoration: none;

      &:hover {
        color: var(--color-turquoise);
      }

      &:focus-visible {
        outline-offset: 3px;
        outline: 2px dashed var(--color-orange);
      }
    }
  }

  &__logo {
    svg {
      width: 7rem;
    }
  }
}
