.site-head {
  display: flex;
  max-width: 125rem;
  margin-inline: auto;
  justify-content: center;
  align-items: flex-start;
  gap: var(--space-xs);
  flex-wrap: wrap;
  padding: var(--space-m);

  // Target all direct child elements and allow them to grow
  & > * {
    flex-grow: 1;
  }
  .devils-albatross {
    flex-grow: 666;
    // Substract 100% from a chosen threshold
    flex-basis: calc((22rem - 100%) * 666);
  }

  &__logo {
    width: clamp(6rem, 5.714rem + 1.43vw, 7rem);
    max-width: 7rem;
    position: relative;
    flex-shrink: 0;
    margin-inline-end: var(--space-3xl);
  }

  a {
    text-decoration: none;

    &:hover:not(.site-head__logo) {
      color: var(--color-violet);
      transition: color 0.075s ease;
    }

    &:focus-visible {
      outline-offset: 4px;
      outline: 2px dashed var(--color-orange);
    }
  }

  button:focus-visible {
    outline-offset: 4px;
    outline: 2px dashed var(--color-orange);
  }
}
