/**
 * WRAPPER
 * Sets a max width, adds a consisten gutter and horizontally
 * centers the contents
 */
.wrapper {
  max-width: 65.5rem;
  margin-inline: auto;
  padding-inline: var(--space-m);

  @media screen and (min-width: 57em) {
    padding-inline: 0;
  }
}
