---
title: "Home"
layout: "layouts/base.njk"
permalink: /
---

<div class="wrapper | stack-xl">
  <section class="stack-s">
    {% include "partials/site-hero-headline.njk" %}
  </section>

  <section class="stack-s" id="service">
    <div class="text-block | stack-s">
      <h2 class="text-step-1 weight-bold braces">What we do</h2>
      <p class="text-step-0 weight-light">
        At BlindSpot, we envision a future where firmware development is efficient, accessible, and collaborative. We strive to revolutionize the industry by transforming firmware testing from a complex, manual process into an automated and seamless process United by our passion for innovation and our commitment to teamwork, we enable developers around the world to create cutting-edge, reliable firmware solutions that drive technological progress and redefine the boundaries of possibility. Our customers are our heroes - and we will work hard to meet their requirements.
        </p>
    </div>
    <div class="cluster | my-stack-space-l" style="--cluster-justification: center; --cluster-gap: var(--space-m-l)">
      <div class="value | stack-xs">
        <div class="value__icon unselectable">
          {% icon icon = "rocket_efficiency" %}
        </div>
        <div class="vertical-line"></div>
        <h3 class="text-step-0">Efficiency</h3>
      </div>
      <div class="value | stack-xs">
        <div class="value__icon unselectable">
          {% icon icon = "puzzle_collaboration" %}
        </div>
        <div class="vertical-line"></div>
        <h3 class="text-step-0">Collaboration</h3>
      </div>
      <div class="value | stack-xs">
        <div class="value__icon unselectable">
          {% icon icon = "brain_constant-improvement" %}
        </div>
        <div class="vertical-line"></div>
        <h3 class="text-step-0">Constant improvement</h3>
      </div>
    </div>
  </section>

  <section class="stack-s" id="product">
    <div class="text-block | stack-s">
      <h2 class="text-step-1 weight-bold braces">FirmwareCI</h2>
      <p class="text-step-0 weight-light">FirmwareCI is a groundbreaking Continuous Integration (CI) system specifically designed for firmware development. It simplifies and automates firmware testing by seamlessly integrating with popular development environments like GitHub, GitLab, and Azure. FirmwareCI streamlines the testing process by automatically running tests on actual hardware, reporting back results, and detecting potential issues early in the development lifecycle. With its fully customizable framework, FirmwareCI empowers developers to optimize their workflows, enhance product quality, and accelerate time-to-market, all while ensuring firmware reliability and security.</p>
    </div>
    <div class="stack-s my-stack-space-m">
      <img class="preview-image | unselectable" src="/images/FirmwareCI-mockup-projects.png" alt="Preview screen of the projects overview in the application.">
      <img class="preview-image | unselectable" src="/images/FirmwareCI-mockup-requests.png" alt="Preview screen of the requests overview in the application.">
      <a class="btn" href="https://www.firmware-ci.com" target="_blank" rel="noopener">www.firmware-ci.com</a>
    </div>
  </section>

  <section class="stack-s" id="about">
    <div class="text-block | stack-s">
      <h2 class="braces | text-step-1 weight-bold">The team behind</h2>
    </div>

    <div class="cluster | my-stack-space-m" style="--cluster-justification: center; --cluster-gap: var(--space-s)">
      {% include "partials/team.njk" %}
    </section>

    <section class="text-block | stack-s" id="contact">
      <h2 class="braces | text-step-1 weight-bold">Contact</h2>
      <p class="text-step-0 weight-light">If you're eager to accelerate your firmware development, learn more about efficient practices, or simply want to connect with us, drop us an email!</p>
      <a class="btn" href="mailto:hello@blindspot.software">Write us an email</a>
    </section>
  </div>
</div>