---
title: "Home"
layout: "layouts/home.njk"
permalink: /
---

<div class="wrapper | stack-xl">
  <section class="stack-s">
    {% include "partials/site-hero-headline.njk" %}
    <a class="btn" href="#">see more</a>
  </section>

  <section class="text-block stack-s">
    <h2 class="text-step-1 weight-bold braces">What we do</h2>
    <p class="text-step-0 weight-light">Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur commodi accusamus accusantium voluptatibus nihil. Saepe expedita voluptate adipisci totam tenetur corporis laborum delectus animi deserunt, nostrum, et, sint corrupti dolore. Pariatur sed obcaecati alias fuga expedita inventore aperiam iusto nobis delectus voluptates maxime sapiente, quo recusandae temporibus magnam ab consequatur?</p>
    <div class="cluster" style="--cluster-justification: center; --cluster-gap: var(--space-xs)">
      <img src="/images/chip.svg" alt="Gallery image 1">
      <img src="/images/chip.svg" alt="Gallery image 2">
      <img src="/images/chip.svg" alt="Gallery image 3">
    </div>
  </section>

  <section class="text-block stack-s" id="product">
    <h2 class="text-step-1 weight-bold braces">Our product</h2>
    <p class="text-step-0 weight-light">Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur commodi accusamus accusantium voluptatibus nihil. Saepe expedita voluptate adipisci totam tenetur corporis laborum delectus animi deserunt, nostrum, et, sint corrupti dolore. Pariatur sed obcaecati alias fuga expedita inventore aperiam iusto nobis delectus voluptates maxime sapiente, quo recusandae temporibus magnam ab consequatur?</p>
  </section>
  <figure class="stack-s my-stack-space-m">
    <img class="preview-image" src="/images/firmware-ci-preview.png" alt="Preview of the product">
    <a class="btn" href="https://www.firmware-ci.com" target="_blank">www.firmware-ci.com</a>
    <figcaption class="text-block text-step-0 weight-light" style="--text-block-width: 40ch">Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus reiciendis, dolor vitae beatae harum reprehenderit!</figcaption>
  </figure>

  <section class="text-block stack-s" id="about">
    <h2 class="text-step-1 weight-bold braces">The team behind</h2>
    <p class="text-step-0 weight-light">Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur commodi accusamus accusantium voluptatibus nihil. Saepe expedita voluptate adipisci totam tenetur corporis laborum delectus animi deserunt, nostrum, et, sint corrupti dolore. Pariatur sed obcaecati alias fuga expedita inventore aperiam iusto nobis delectus voluptates maxime sapiente, quo recusandae temporibus magnam ab consequatur?</p>
  </section>

  <div class="cluster my-stack-space-m" style="--cluster-justification: center; --cluster-gap: var(--space-s)">
    <picture class="profile-picture">
      <img class="profile-picture__portrait" src="/images/jens-drenhaus.jpg" alt="">
      <div class="profile-picture__overlay">
        <p class="weight-bold">Jens <br/>Drehnhaus</p>
        <div class="social-icons">
          <a href="#" target="_blank" rel="noopener">
            {% icon icon = "github",
            width = "20" %}
            <span class="sr-only">Visit us on GitHub</span>
          </a>
          <a href="#" target="_blank" rel="noopener">
            {% icon icon = "linkedin",
            width = "20" %}
            <span class="sr-only">Visit us on LinkedIn</span>
          </a>
          <a href="#" target="_blank" rel="noopener">
            {% icon icon = "twitter",
            width = "20" %}
            <span class="sr-only">Visit us on Twitter</span>
          </a>
        </div>
      </div>
    </picture>
    <picture class="profile-picture">
      <img class="profile-picture__portrait" src="/images/christian-walter.jpg" alt="">
      <div class="profile-picture__overlay weight-bold">
        <p class="weight-bold">Christian <br/>Walter</p>
        <div class="social-icons">
          <a href="#" target="_blank" rel="noopener">
            {% icon icon = "github",
            width = "20" %}
            <span class="sr-only">Visit us on GitHub</span>
          </a>
          <a href="#" target="_blank" rel="noopener">
            {% icon icon = "linkedin",
            width = "20" %}
            <span class="sr-only">Visit us on LinkedIn</span>
          </a>
          <a href="#" target="_blank" rel="noopener">
            {% icon icon = "twitter",
            width = "20" %}
            <span class="sr-only">Visit us on Twitter</span>
          </a>
        </div>
      </div>
    </picture>
    <picture class="profile-picture">
      <img class="profile-picture__portrait" src="/images/christoph-lange.jpg" alt="">
      <div class="profile-picture__overlay weight-bold">
        <p class="weight-bold">Christoph <br/>Lange</p>
        <div class="social-icons">
          <a href="#" target="_blank" rel="noopener">
            {% icon icon = "github",
            width = "20" %}
            <span class="sr-only">Visit us on GitHub</span>
          </a>
          <a href="#" target="_blank" rel="noopener">
            {% icon icon = "linkedin",
            width = "20" %}
            <span class="sr-only">Visit us on LinkedIn</span>
          </a>
          <a href="#" target="_blank" rel="noopener">
            {% icon icon = "twitter",
            width = "20" %}
            <span class="sr-only">Visit us on Twitter</span>
          </a>
        </div>
      </div>
    </picture>
  </div>

  <section class="text-block stack-s" id="contact">
    <h2 class="text-step-1 weight-bold braces">Contact</h2>
    <p class="text-step-0 weight-light">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Minus quibusdam, in temporibus debitis quos aliquam expedita non, pariatur, corporis consequatur asperiores dolorem eos unde minima.</p>
    <a class="btn" href="#">Write us an email</a>
  </section>
</div>