---
title: "Home"
layout: "layouts/plain.njk"
permalink: /
---

<div class="wrapper | stack-xl">
  <section class="stack-s">
    <h1 class="text-step-2 weight-bold">
      <svg class="double-arrow" xmlns='http://www.w3.org/2000/svg' viewBox='0 0 122 67'><path fill='var(--color-orange)' d='M88.2,0l-5,5l28.3,28.3L83.3,61.5l5,5l33.2-33.2l0,0l0,0L88.2,0z M0,44v-7h88v7H0z M0,23v7h88v-7H0z'/></svg>
      Fast to the future<span style="color: var(--color-orange)" aria-hidden="true">:</span>
      <br/>with modern <svg class="bottom-line" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 99 7">
        <rect width="99" height="7" fill='var(--color-orange)'/>
      </svg><br/>
      <span style="color: var(--color-violet); vertical-align: 0.05em" aria-hidden="true">&#123;</span>firmware development<span style="color: var(--color-violet); vertical-align: 0.05em" aria-hidden="true">&#125;</span>
    </h1>
    <a class="btn" href="#">see more</a>
  </section>

  <section class="text-block stack-s">
    <h2 class="text-step-1 weight-bold braces">What we do</h2>
    <p class="text-step-0 weight-light">Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur commodi accusamus accusantium voluptatibus nihil. Saepe expedita voluptate adipisci totam tenetur corporis laborum delectus animi deserunt, nostrum, et, sint corrupti dolore. Pariatur sed obcaecati alias fuga expedita inventore aperiam iusto nobis delectus voluptates maxime sapiente, quo recusandae temporibus magnam ab consequatur?</p>
    <div class="cluster" style="--cluster-justification: space-between">
      <img src="#" alt="Gallery image 1">
      <img src="#" alt="Gallery image 2">
      <img src="#" alt="Gallery image 3">
    </div>
  </section>

  <section class="text-block stack-s" id="product">
    <h2 class="text-step-1 weight-bold braces">Our product</h2>
    <p class="text-step-0 weight-light">Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur commodi accusamus accusantium voluptatibus nihil. Saepe expedita voluptate adipisci totam tenetur corporis laborum delectus animi deserunt, nostrum, et, sint corrupti dolore. Pariatur sed obcaecati alias fuga expedita inventore aperiam iusto nobis delectus voluptates maxime sapiente, quo recusandae temporibus magnam ab consequatur?</p>
    <figure class="stack-s">
      <img src="#" alt="Preview of the product">
      <a class="btn" href="https://www.firmware-ci.com" target="_blank">www.firmware-ci.com</a>
      <figcaption class="text-step-0 weight-light">Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus reiciendis, dolor vitae beatae harum reprehenderit!</figcaption>
    </figure>
  </section>

  <section class="text-block stack-s" id="about">
    <h2 class="text-step-1 weight-bold braces">The team behind</h2>
    <p class="text-step-0 weight-light">Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur commodi accusamus accusantium voluptatibus nihil. Saepe expedita voluptate adipisci totam tenetur corporis laborum delectus animi deserunt, nostrum, et, sint corrupti dolore. Pariatur sed obcaecati alias fuga expedita inventore aperiam iusto nobis delectus voluptates maxime sapiente, quo recusandae temporibus magnam ab consequatur?</p>
    <div class="cluster" style="--cluster-justification: space-between">
      <img src="#" alt="Gallery image 1">
      <img src="#" alt="Gallery image 2">
      <img src="#" alt="Gallery image 3">
    </div>
  </section>

  <section class="text-block stack-s" id="contact">
    <h2 class="text-step-1 weight-bold braces">Contact</h2>
    <p class="text-step-0 weight-light">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Minus quibusdam, in temporibus debitis quos aliquam expedita non, pariatur, corporis consequatur asperiores dolorem eos unde minima.</p>
    <a class="btn" href="#">Write us an email</a>
  </section>
</div>