// First up: config and functions
@import 'config';
// Next: pull in gorko for design tokens
@import '../../node_modules/gorko/gorko.scss';
@import 'reset';

// Global styles
html {
  font-size: clamp(100%, 100%/3 + 0.67vw, 150%);
}

body {
  position: relative;
  @include apply-utility('font', 'base');
  background-color: var(--color-bg);
  color: var(--color-text);
  transition: background-color 0.3s ease-in-out, color 0.2s ease;
}

h1,
h2,
h3,
h4 {
  @include apply-utility('leading', 'flat');
}

//Utilities
@import 'utilities/sr-only';
@import 'utilities/unselectable';

//Layout
@import 'layout/cluster';
@import 'layout/stack';
@import 'layout/wrapper';

//Blocks
@import 'blocks/site-head';
@import 'blocks/site-content';
@import 'blocks/person';
@import 'blocks/site-foot';
@import 'blocks/dark-light-switch';
@import 'blocks/pcb-circuit';
@import 'blocks/image-slider';
