<div class="slides-container">
  <div class="slide">
    <img class="preview-image | unselectable" src="/images/firmware-ci-preview.png" alt="">
  </div>
  <div class="slide">
    <img class="preview-image | unselectable" src="/images/firmware-ci-preview.png" alt="">
  </div>
  <div class="slide">
    <img class="preview-image | unselectable" src="/images/firmware-ci-preview.png" alt="">
  </div>
  <div class="slide">
    <img class="preview-image | unselectable" src="/images/firmware-ci-preview.png" alt="">
  </div>
  <div class="slide">
    <img class="preview-image | unselectable" src="/images/firmware-ci-preview.png" alt="">
  </div>
</div>