<footer class="site-foot bg-dark-blue color-light-gray" id="footer">
  {% set currentYear = helpers.getCurrentYear() %}
  <section class="stack-2xs">
    <h3>Know us</h3>
    <ul class="site-foot__nav" role="list">
      <li>&copy; 2023 blindspot</li>
      <li>
        <a href="/privacy-policy/">Privacy Policy</a>
      </li>
      <li>
        <a href="/imprint/">Imprint</a>
      </li>
    </ul>
  </section>

  <section>
    <div class="site-foot__logo">
      {% include "svg/logo.svg" %}
    </div>
  </section>

  <section class="stack-2xs" >
    <h3>Follow us</h3>
    <ul class="site-foot__nav" role="list">
      <li>
        <a href="#" target="_blank" rel="noopener">_Twitter</a>
      </li>
      <li>
        <a href="#" target="_blank" rel="noopener">_LinkedIn</a>
      </li>
      <li>
        <a href="#" target="_blank" rel="noopener">_GitHub</a>
      </li>
    </ul>
  </section>
</footer>