<footer class="site-foot | my-stack-space-xl" id="footer">
  {% set currentYear = helpers.getCurrentYear() %}
  <section class="site-foot__nav | stack-2xs">
    <h2>Legal Notices</h2>
    <div>
      <p>&copy; 2023 BlindSpot</p>
      <p>
        <a href="/privacy-policy/">Privacy Policy</a>
      </p>
      <p>
        <a href="/imprint/">Imprint</a>
      </p>
    </div>
  </section>

  <div class="site-foot__logo">
    {% include "svg/logo.svg" %}
  </div>

  <section class="stack-2xs" >
    <h2>Follow us</h2>
    <ul class="site-foot__nav" role="list">
      <li>
        <a href="https://github.com/BlindspotSoftware" target="_blank" rel="noopener">
          <span aria-hidden="true">_</span>GitHub</a>
      </li>
      <li>
        <a href="https://www.linkedin.com/company/blindspot-software-gmbh/" target="_blank" rel="noopener">
          <span aria-hidden="true">_</span>LinkedIn</a>
      </li>
      <li>
        <a href="https://twitter.com/firmware_ci" target="_blank" rel="noopener">
          <span aria-hidden="true">_</span>Twitter</a>
      </li>
    </ul>
  </section>
</footer>
