<header class="site-head">
  <a href="/" class="site-head__logo" aria-label="BlindSpot Home">{% include "svg/logo.svg" %}</a>
  <div class="devils-albatross" aria-hidden="true"></div>

  <div class="user-toggle">
    <button class="toggle-button js-mode-toggle" type="button" tabindex="0" role="switch" aria-checked="false">
      <span class="sr-only">Pulse vision mode</span>
    </button>
  </div>

  <nav aria-label="Main">
    <ul class="cluster" style="--cluster-justification: center" role="list">
      {% for item in navigation.items %}
        <li>
          <a class="weight-light" href="{{ item.url }}" {{ helpers.getLinkActiveState(item.url, page.url) | safe }}>
            {{ item.text }}
          </a>
        </li>
      {% endfor %}
    </ul>
  </nav>
</header>