{% for person in collections.team | sortByOrder %}
    <div class="person">
        {% picture class="person__portrait | unselectable", src=person.data.imageUrl, alt=""%}
        <div class="person__overlay" tabindex="0">
            <span class="weight-bold">{{ person.data.firstName }}</span>
            <span class="weight-bold">{{ person.data.lastName }}</span>
            <span class="person__title | text-step-0 weight-light">{{ person.data.title }}</span>
            <ul class="person__social-icons | cluster" style="--cluster-justification: center; --cluster-gap: var(--space-2xs)" role="list">
                {% for socialItem in person.data.socials %}
                    <li>
                        <a href={{ socialItem.url }} target="_blank" rel="noopener">
                            {% icon icon = socialItem.icon,
                            width = "20" %}
                            <span class="sr-only">{{ person.data.firstName }} on {{ socialItem.name }}</span>
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
{% endfor %}